@model IEnumerable<Post>

@{
    ViewBag.Title = "GastroChef";
}

<h1>Recipes</h1>

<section class="row table">
    @foreach (var post in Model)
    {
        <article class="recipe col-md-8">
        
            @Html.ActionLink(post.Title, "Details", "Posts", new {id = post.Id}, new {@class = "list-group-item-heading"})
            @if (post.Files.Any(f => f.FileType == FileType.Image))
            {
                <img src="~/File?id=@post.Files.First(f => f.FileType == FileType.Image).FileId" alt="image" width="110" height="110" />
            }
            <div class="list-group-item">
                @Html.Raw(post.Description)
            </div>
        </article>
    }
</section>

<aside class="">
    <div></div>
</aside>
